*{
    font-family: "Roboto", regular;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #f2f2f2;
    padding-left: 15px;
    padding-right: 15px;
}

#header-logo {
    background-color: #66dd66;
}

#header-logo h1 {
    font-family: "Master Of Break";
    font-size: 40px;
    background-color: #ffc107;
    color: #0277bd;
    text-shadow: 1px 1px #01579b;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    color : #0277bd;
}

#request {
    margin : 0px;
}

.invitation {
    margin : 5px;
    padding : 10px;
    width: auto;
    box-shadow: rgba(0,0,0,.14) 10px 10px 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

.important{
    font-size: 2em;
    color: black;
}

#logout{
    color: red;
}

#login{
    color: green;
    font-size: 2em;
}

#image_invit{
    width: 100%;
    margin : 5px;
}

.room {
    margin : 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding : 10px;
    width: auto;
    box-shadow: rgba(0,0,0,.14) 10px 10px 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

footer {
    color: #0277bd;
    margin: auto;
    padding: 20px;
    text-align: center;
}

span{
    color: white;
}

.divAuth a{
    margin : 2px;
}